body {
    font-family: var(--chakra-fonts-body);
    color: var(--chakra-colors-neutral-700);
    background: #333;
    /* Change to the dark gray color of your choice */
    transition-property: background-color;
    transition-duration: var(--chakra-transition-duration-normal);
    line-height: var(--chakra-lineHeights-base);
}


canvas.webgl {
    display: block;
    width: 50% !important;
    height: 50% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    object-fit: fill;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);

}

.container {
    display: flex;
}

.color-box {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.color-button {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

#buttonRed {
    background-color: red;
    color: white;
}

#buttonBlue {
    background-color: blue;
    color: white;
}

#buttonGreen {
    background-color: green;
    color: white;
}

#buttonYellow {
    background-color: yellow;
    color: black;
}